@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "abricot";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #F9FAFB;
  --color-base-200: #1F1F1F;
  --color-base-300: #FFFFFF;
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #D3590B;
  --color-primary-content: #FFFFFF;
  --color-secondary: #FFE8D9;
  --color-secondary-content: #D3590B;
  --color-accent: #FFF0D7;
  --color-accent-content: #E08D00;
  --color-neutral: #E5E7EB;
  --color-neutral-content: #6B7280;
  --color-info: #E0ECFF;
  --color-info-content: #3B82F6;
  --color-success: #F1FFF7;
  --color-success-content: #27AE60;
  --color-warning: #FFE8D9;
  --color-warning-content: #D3590B;
  --color-error: #FFE0E0;
  --color-error-content: #EF4444;
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  @apply bg-gray-50;
}

body {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 40px;
    color: var(--color-primary);
    font-weight: 700;
  }

  label {
    font-size: 14px;
  }

  .page-content {
    flex: 1;
  }

  a {
    color: var(--color-primary);
    text-decoration: underline
  }

  .btn-gray {
    @apply bg-gray-800;
    color: white;
    border-radius: 10px;
    padding: 13px 74px;
  }
}

.btn-drawer-toggle {
  --btn-bg: transparent;

  &:hover {
    --btn-shadow: unset;
    --btn-border: transparent;
  }
}