.nav {
	background-color: var(--color-base-200);
	height: 100%;
	padding: 0 150px;
	min-height: unset;
	gap: 61px;
	display: flex;
}

.header {
	padding-inline: 100px;
	background: var(--color-base-200);

	@media screen and (max-width: 1023px) {
		padding-inline: 10px;
	}
}

.navItem {
	a {
		padding: 27px 62px;
		text-decoration: none;
		border-radius: 10px;

		&:hover {
			color: var(--color-base-200);
		}

		.logo {
			width: 24px;
			height: 24px;
			background-color: currentColor;
			mask-size: contain;
			mask-repeat: no-repeat;
			mask-position: center;
		}
	}
}
