@reference "tailwindcss";

.userIcon {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: uppercase;
    background: var(--color-secondary);
    color: var(--color-secondary-content);

    &.userIconVariant {
        background: var(--color-primary);
        color: var(--color-primary-content);
    }
}